<!DOCTYPE html>
<html>
<head>
	<title>desafío 1</title>
	<meta charset="utf-8">
</head>
<body>
	<h1>Equipo Docente</h1>
	
	<h2>Profesores</h2>
	<div>
		<table>
			<tr>
				<td>Macarena V. Osorio A.</td>
			</tr>
			<tr>
				<td> José Canto </td>
			</tr>
			<tr>
				<td> Jorge Pinto </td>
			</tr>
			<tr>
				<td>Javiera Ovalle T.</td>
			</tr>
			
		</table>
	</div>

	<h2>auxiliares</h2>
	<div>
		<table>
			<tr>
				<td>Macarena V. Osorio A.</td>
			</tr>
			<tr>
				<td> José Canto </td>
			</tr>
			<tr>
				<td> Jorge Pinto </td>
			</tr>
			<tr>
				<td>Javiera Ovalle T.</td>
			</tr>
			
		</table>
	</div>
	
	<h2>ayudantes</h2>
	<div>
		<table>
			<tr>
				<td> Carlos Alberto Vega Hernández</td>
			</tr>
			<tr>
				<td> Catalina Martin D. </td>
			</tr>
			<tr>
				<td> Eduardo Valerio C. </td>
			</tr>
			<tr>
				<td> Juan Gutiérrez T.   </td>
			</tr>
			<tr>
				<td> Matías Rojas   </td>
			</tr>
			<tr>
				<td> Nicolás Villa Contardo  </td>
			</tr>
			<tr>
				<td> Sebastián Donoso  </td>
			</tr>
			<tr>
				<td> Sofia Herrera  </td>
			</tr>
			<tr>
				<td> Victoria Arce A.</td>
			</tr>
		</table>
	</div>

	<a href="{% url 'index' %}">index</a>
	<br>
	<a href="{% url 'pestaña' %}">pestaña</a>
	<br>
	<a href="{% url 'edocente' %}">Equipo Docente</a>


</body>
</html>